{% extends "base.html" %}

{% block title %}
  Об авторе проекта
{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Привет, я автор проета</h1>
  <h3>Обо мне</h3>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/author.css'%}">
    <img src="{% static 'img/photo_1.png' %}" width="350" height="250" class="d-inline-block align-top image-margin" alt="">
    <img src="{% static 'img/photo_2.png' %}" width="350" height="250" class="d-inline-block align-top image-margin" alt="">
  <p>
    Меня зовут Максим и мне 34 года. Я родом из Питера, но летом 2021 года мы с женой и дочкой переехали в Анапу, о чем мы нисколько не жалеем =)
    Я всю свою сознательную жизнь работаю в мебельной теме конструктором-технологом. Имею 1,5 высших образования, 0,5 - экономика и управление,
    как выяснилось, для меня очень скучная тема, и я забил на дальнейшее обучение =)
  </p>
  <h3>Вдохновение</h3>
  <p>
    На всю эту змеиную движуху меня, как ни странно, сподвигла моя дочь год назад. Ей было на тот момент чуть больше года.
    Жена ушла по делам, мы с дочкой тусовались одни. В какой-то момент я ушел на кухню, а дочь осталась в гостиной. Пока меня не было она взяла пульт от телика и начала на него жать.
    В итоге, когда я вернулся, она сидела на диване и что-то очень внимательно смотрела. Я присел рядом с ней и начал тоже залипать. Там показывали уроки по Python, не помню про что именно,
    но нас это так завлекло, что мы так и просидели, пока жена домой не вернулась. Как она пришла, я начал у нее спрашивать, что это за диво-дивное. Она у меня уже в IT очень давно,
    направление - UX/UI дизайнер. Она мне все рассказала и отправила для начала на Stepik. Вот так все и началось =)
  </p>
  <h3>Полезные ссылки</h3>
  <p>
    <a href='https://github.com/KuchishkinM' target="_blank" >GitHub
    </a>
  </p>
  <p>
    <a href="https://telegram.me/kuchishkin_m" target="_blank">Telegram
    </a>
  </p>
  <p>
    <a href="mailto:kuchishkin.m@gmail.com" target="_blank" >Email
    </a>
  </p>
  <p> А больше не знаю, что и приложить. Жизнь так сложилась, что у меня нет соцсетей.</p>
</div>
{% endblock %}